Repository albertocavalcante/copybara-docs: changes, and which lefthook commands are due for each by the changed paths.
All: dprint, astro-check

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook
#
# Install hooks: lefthook install
# Run manually: lefthook run pre-commit

pre-commit:
  parallel: true
  commands:
    # Check formatting with dprint
    dprint:
      glob: "**/*.{md,mdx,json,yml,yaml}"
      run: dprint check {staged_files}

    # TypeScript/Astro check
    astro-check:
      glob: "**/*.{ts,astro,mdx}"
      run: bunx astro check

pre-push:
  parallel: true
  commands:
    # Full build before push
    build:
      run: bun run build

# Output settings
output:
  - meta
  - summary
  - success

docs: expand FAQ with workflow modes and file selection questions
  src/content/docs/troubleshooting/faq.mdx
Due: dprint, astro-check

Add robots.txt with sitemap reference
  public/robots.txt
Due: none

docs: add quick reference card and real-world examples
  .internal/DOCS_NEXT_STEPS.md
  astro.config.ts
  src/content/docs/guides/real-world-examples.mdx
  src/content/docs/reference/quick-reference.mdx
Due: dprint, astro-check

docs: verify FAQ answers and add internal tracking
  .internal/DOCS_NEXT_STEPS.md
  .internal/FAQ_SOURCES.md
  .internal/README.md
  src/content/docs/troubleshooting/faq.mdx
Due: dprint, astro-check

docs: add Pigweed copy.bara.sky link
  src/content/docs/guides/real-world-examples.mdx
Due: dprint, astro-check

docs: add Chromium Cronet copy.bara.sky link to examples
  src/content/docs/guides/real-world-examples.mdx
Due: dprint, astro-check

docs(copybara): plan unsupported platform guidance
  .vscode/extensions.json
  .vscode/launch.json
  UNSUPPORTED_PLATFORMS_PLAN.md
Due: dprint
